@import url("http://fonts.googlepis.com/css2?family-Poppins");
* {
    margin: 50;
    padding: 100;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.img-profile {
    height: 200px;
    width: 250px;
    border: 1px dashed red;
}